/*
 * Copyright 2013-2017 smartics, Kronseder & Reiner GmbH
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* Headings */
.projectdoc-topic-main-index div h2 {
  color: #FFA62F;
  margin-top: 15px;
  font-size: 12pt;
}
div.hasIdOrTags.projectdoc-topic-main-index {
  opacity: 1.0;
}

/* Lists */
.projectdoc-topic-main-index ul {
  color: #3B73AF;
  margin-top: 0px;
  margin-bottom: 9px;
}

/* Links */
.projectdoc-topic-main-index a:link,  .projectdoc-topic-main-index a:visited {
  color: #3B73AF;
}
.projectdoc-topic-main-index a:hover {
  color: #F87217;
}
.projectdoc-topic-main-index a:active {
  color: #C35817;
}
